<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assests/favicon.ico" type="image/x-icon">
    <title>To Do App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js" defer></script>
</head>
<body>
    <header>
        <h1><i class="fa-solid fa-list-check"></i> To Do App</h1>
        <p>Para <strong>Editar</strong> una tarea haz doble click. Para <strong>Guardar</strong> los cambios presiona "Enter" y en caso de querer <strong>Cancelar</strong> los mismos cambios, haz click fuera del campo de texto de edición</p>
    </header>
    <main id="app">

        <section id="container-inputs">
          <div>
            <label for="input-crear" hidden>Agregar</label>
            <input id='input-crear' placeholder='Escribe tu nueva tarea' v-model='nuevaTarea' type="text">
            <button v-on:click='crear' type="button"><img src="./assests/add-icon.svg" alt="agragar icono">Agregar</button>
          </div>
          <div>
            <label for="input-crear" hidden>Buscar</label>
            <img src="./assests/search-icon.svg" alt="lupa icono">
            <input id='input-crear' autocomplete='off' placeholder='Busca una tarea' v-model='buscar' type="text">
            <ul v-if='buscar.trim()'>
              <li v-for="(item, index) in buscador()" :key='index'>
                <strong v-text="item.name"></strong>
              </li>
            </ul>
          </div>
        </section>

        <section id="container-cards">
          <div id='card-pendientes' class="card">
              <h2><img src="assests/warn-icon.svg" alt="check icon"> Tareas Pendientes</h2>
              <h4>Cantidad <span>{{ cantidad(true) }}</span> </h4>
            <ul>
              <li v-for="(item, index) in tareas" v-if="!item.completed" :key="index">
                <strong v-text='item.name' v-on:dblclick='iniciarEdicion(index)' v-if=' indexEditar != index'></strong>
                <input v-autofocus id='input-crear' v-else v-model='editarTarea' v-on:keydown.enter='editar' v-on:blur='editarTarea = "", indexEditar = null' type="text">
                <img src='./assests/check-icon.svg' v-on:click='completar(index)' alt='completado icono' title="Completar la tarea">
                <!-- <i v-on:click='iniciarEdicion(index)' title="Edita la tarea"></i> -->
              </li>
            </ul>
          </div>
          <hr>
          <div class="card">
              <h2><img src="assests/check-icon.svg" alt="check icon"> Tareas Terminadas</h2>
              <h4>Cantidad <span>{{ cantidad() }}</span></h4>
            <ul>
              <li v-for="(item, index) in tareas" v-if="item.completed" :key="index">
                <strong v-text='item.name' v-on:dblclick='iniciarEdicion(index)' v-if=' indexEditar != index'></strong>
                <input v-autofocus id='input-crear' v-else v-model='editarTarea' v-on:keydown.enter='editar' v-on:blur='editarTarea = "", indexEditar = null' type="text">
                <img src="./assests/restore-icon.svg" v-on:click='restaurar(index)' alt='restaurar icono' title="Restaurar la tarea">
                <img src="./assests/delete-icon.svg" v-on:click='eliminar(index)' alt='eliminar icono' title="Elimina la tarea">
                <!-- <i v-on:click='iniciarEdicion(index)' class="btn-delete fa-solid fa-pencil" title="Edita la tarea"></i> -->
              </li>
            </ul>
          </div>
        </section>
    </main>
    <footer>
        <p>DV | Nicolás Agüero - Aplicaciones para dispositivos móviles</p>
    </footer>
</body>
</html>